/* This hole file is for future use */
/* Custom Date Picker */
.react-datepicker-wrapper {
  border: 1px solid #8aab94;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0.566rem;
}

.react-datepicker {
  width: 100%;
}

.react-datepicker-popper {
  width: 100%;
  padding: 15px;
  position: static !important;
  inset: 0px auto auto 0px;
  transform: translate3d(0px, 0px, 0px) !important;
}

.react-datepicker__month-container {
  float: none;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: var(--primary-background-color);
  color: white;
  border-radius: 19px;
  font-size: 13.949px;
  outline: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: var(--primary-background-color);
  color: white;
  border-radius: 19px;
  font-size: 13.949px;
  outline: none;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  margin-top: 0px;
}

.react-datepicker__day--disabled {
  color: #ccc;
  cursor: not-allowed;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: var(--primary-background-color);
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  display: none;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  display: none;
}
